@import '../vars.scss';

.radioDivs {
  display: flex;  
}

.radioDiv {
  border: 1px solid #C4C4C4;
  // padding: 2px 14px;
  cursor: pointer;
}

.radioDiv:not(:last-child) {
  margin-right: 8px;
}

.active{
  border: 2px solid $black;
}

